<ul>
    {% for tweet in tweetList|reverse %}
        <li>
            <h4>{{tweet.created_at}}</h4>
            <p>{{tweet['tweet']}}</p>
            <form class="form-group" action="/tweets/{{tweet['id']}}/like" method="POST">
                <input type="hidden" name='like' value={{tweet['id']}}>
                <input type="submit" value="Like" name='likeTweet' class="btn btn-success">
            </form>
            <form class="form-group" action="/tweets/{{tweet['id']}}/edit" method="POST">
                <input type="hidden" name="edit" value={{tweet['id']}}>
                <input type="submit" value="Edit" name='editTweet' class="btn btn-warning">
            </form>
            <form class="form-group" action="/tweets/{{tweet['id']}}/delete" method="POST">
                <input type="hidden" name="delete" value={{tweet['id']}}>
                <input type="submit" value="Delete" name='deleteTweet' class="btn btn-danger">
            </form>
            
        </li>

    {% endfor %}
</ul>